NASA_API_KEY=LgSpaMM9PWDJRuaupNcl7UB1v12ELccAEL8yTlb2
PORT=3000
REMOTE_AIRPORTS_URL=https://davidmegginson.github.io/ourairports-data/airports.csv
REMOTE_COUNTRIES_URL=https://davidmegginson.github.io/ourairports-data/countries.csv
NASA_REQUEST_TIMEOUT_MS=30000
NASA_REQUEST_RETRIES=2
